@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.rooms-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}
.rooms-1{
    width:100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    
}
.rooms-case{
    /* width: 100%; */
    flex: 1 1 200px;
    min-height: 300px;
    max-width: 100%;
    /* border-radius: 20px; */
}
